.video {
  width: 80.5vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.arrows {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 32px 0px 16px 0px;
}

.title {
  color: #454545;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2rem;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  padding: 0 6px;
}

.preview {
  width: 362px;
  padding: 0px 8px;
  flex-shrink: 0;
}

.img {
  width: 346px;
}
